= I18n.t('billing.billing_info')
br

= I18n.t('billing.invoice_date')
|&nbsp;
= @invoice.created_at.strftime('%Y-%d-%m')
br

= I18n.t('billing.invoice_number')
|&nbsp;
= @invoice.number
br

= I18n.t('billing.limited')
br

= I18n.t('billing.hanassey_road')
br

= I18n.t('billing.phone')
| &nbsp;
a style="color: #000000; text-decoration: none" href='tel: +8618650045062' +8618650045062

br
a style="color: #000000; text-decoration: none" href='mailto: info@yufu.net' info@yufu.net
br
|___________________________________________________________________________________________
br
= I18n.t('billing.for')
| &nbsp;
= @invoice.client_info.name
br

- if @invoice.client_info.company_name
  = @invoice.client_info.company_name
  br
  = @invoice.client_info.company_address
  br

= I18n.t('billing.phone')
| &nbsp;
= @user.phone
br

= I18n.t('billing.customer_account')
| &nbsp;
= @user.identification_number
br
= I18n.t('billing.bank_acount')
| &nbsp;
| # LV62RTMB0000638806823

br
= I18n.t('billing.location')
| &nbsp;
| Rietumu Bank, SWIFT: RTMBLV2X;
br

= I18n.t('billing.bank_address')
| &nbsp;
| 7 Vesetas Street, Riga, LV1013, Latvia

br
|___________________________________________________________________________________________
br
= I18n.t('billing.service_content')
| &nbsp;
= I18n.t("billing.#{@invoice.subject.try(:_type).try(:underscore)}")
br

= I18n.t('billing.payment_method')
| &nbsp;
= @invoice.pay_way.name
br
= I18n.t('billing.date')
| &nbsp;
= @invoice.created_at.strftime('%Y-%d-%m')
br

= I18n.t('billing.balance')
| &nbsp;
= @user.balance
| &nbsp;
= Currency.where(iso_code: Currency.current_currency).first.symbol
br
|___________________________________________________________________________________________
br
- @invoice.items.each do |item|
  = I18n.t('billing.order_number')
  | &nbsp;
  = item.number
  br
  = I18n.t('billing.orders_description')
  | &nbsp;
  = item.description
  br
  = I18n.t('billing.the_total_price_rmb')
  | &nbsp;
  = item.exchanged_cost('CNY')
  = Currency.where(iso_code: 'CNY').first.symbol
  br
  = I18n.t('billing.total_price')
  | &nbsp;
  = item.exchanged_cost('USD')
  = Currency.where(iso_code: 'USD').first.symbol
  | /
  = item.exchanged_cost('EUR')
  = Currency.where(iso_code: 'EUR').first.symbol
  br
  |___________________________________________________________________________________________
  br


= I18n.t('billing.total_price')
| &nbsp;
= Currency.exchange @invoice.cost, @invoice.currency.iso_code
= @invoice.currency.symbol
br

= I18n.t('billing.total_price')
| &nbsp; {
= @invoice.cost.humanize.capitalize
| }
= Currency.where(iso_code: 'CNY').first.symbol
br

= I18n.t('billing.exchange_rate')
| &nbsp;
= eu_bank = Currency.exchange(1, 'EUR').to_f
| ,
= eu_bank = Currency.exchange(1, 'USD').to_f
| &nbsp;
= I18n.t('billing.euro_or_dollar')
br

= I18n.t('billing.thank_you')





